/* Base CSS */
div.block-content {
    padding-top: 51px;
}

div.main {
    padding-top: 20px;
}

h1.page-header {
    margin: 0px 0px 20px 0px;
}

/* Buttons */
button.head {
    float: right;
}

a.head {
    float: right;
}

/* Forms */
div.input-group {
    width: 100%;
}