/* Base CSS */
div.block-content {
    padding-top: 51px;
}

div.main {
    padding-top: 71px; /* Navbar + 20px */
}

div.message-box {
    position: fixed;
    top: 0px;
    z-index: 1031;
}

h1.page-header {
    margin: 0px 0px 20px 0px;
}

/* Buttons */
button.head {
    float: right;
}

a.head {
    float: right;
}

button.left {
    float: left;
}

button.right {
    float: right;
}

/* Lists */
th.icon {
    width: 30px;
}

h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Forms */
div.input-group {
    width: 100%;
}