/* Base CSS */
div.block-content {
    padding-top: 51px;
}

div.main {
    padding-top: 71px; /* Navbar + 20px */
}

div.message-box {
    position: fixed;
    top: 0px;
    z-index: 1031;
}

h1.page-header {
    margin: 0px 0px 20px 0px;
}

/* Buttons */
button.head {
    float: right;
}

a.head {
    float: right;
}

button.left {
    float: left;
}

button.right {
    float: right;
}

div.right {
    float: right;
}

/* Regions */
h3 {
    font-size: 20px;
    display: inline-block;
}

/* Lists */
th.icon {
    width: 30px;
}

table.table>thead>tr>th.invisible {
    padding: 0px;
    border: none;
}


td.icon {
    width: 30px;
}

td.fifth {
    width: 20%;
}

h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

td.center {
    text-align: center;
}

table.table.table-condensed.table-exercise {
    margin-bottom: 0px;
}

table.table.table-condensed.table-exercise>tbody>tr>td {
    border: none;
    
}

/* Forms */
div.input-group {
    width: 100%;
}

div.tabular {
    margin: 5px;
}
