{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>BER-SERKR</title>

        <!-- Bootstrap and stuff -->
        <link href="{% static 'hamask/css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <link href="{% static 'hamask/css/font-awesome.min.css' %}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="{% static 'hamask/js/bootstrap.min.js' %}"></script>
        
        <!-- Custom -->
        <link rel="shortcut icon" type="image/png" href="{% static 'hamask/images/favicon.png' %}"/>
        <link href="{% static 'hamask/css/custom.css' %}" rel="stylesheet">
        <script src="{% static 'hamask/js/custom.js' %}"></script>
    </head>
    <body>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'hamask:index' %}">[BER-SERKR]</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="{% url 'hamask:programs' %}"><i class="fa fa-calendar"></i>&nbsp;Programs</a></li>
                <li><a href="{% url 'hamask:logs' %}"><i class="fa fa-book"></i>&nbsp;Training Logs</a></li>
                <li><a href="{% url 'hamask:stats' %}"><i class="fa fa-bar-chart"></i>&nbsp;Stats</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-sign-out"></i>&nbsp;Logout</a></li>
              </ul>
            </div>
          </div>
        </nav>
        
        
        <!-- Body -->
        <div class="container main">
        <div class="row">
        <div class="col-sm-12">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.extra_tags }} alert-dismissable fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissable fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        </div>
        
        <!-- Global JS -->        
        <script type="text/javascript">
            $(document).ready(function(){
                $('input[type=number], input[type=text], select').addClass('form-control');
                $('label').addClass('control-label');
            })
        </script>
    </body>
</html>