{% extends 'hamask/base.html' %}

{% block content %}
{% if workouts %}
    <h1 class="page-header">BER-SERKR</h1>

    {% for workout in workouts %}
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Your next workout&nbsp;-&nbsp;{{ workout.workout_group.program.name }}</h3>
                </div>
                <div class="panel-body">
                    <b>{{ workout.workout_group.name }}&nbsp;-&nbsp;{{ workout.name }}</b>
                    
                    {% if exercises|get_item:workout.id %}
                        <table class="table table-condensed table-exercise">
                        <thead>
                            <tr>
                                <th class="col-sm-3 invisible"></th>
                                <th class="col-sm-1 invisible"></th>
                                <th class="col-sm-1 invisible"></th>
                                <th class="col-sm-3 invisible"></th>
                                <th class="col-sm-3 invisible"></th>
                            </tr>
                        </thead>
        
                        <tbody>
                            {% for exercise in exercises|get_item:workout.id %}
                                <tr>
                                <td>{{ exercise.exercise.name }}</td>
                                <td>{{ exercise.sets }}&nbsp;x&nbsp;{{ exercise.reps }}</td>
                                <td>{{ exercise.loading }}</td>
                                <td>{{ exercise.loading_weight }}</td>
                                <td>&nbsp;</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
{% else %}
    <div class="jumbotron">
        <h1>Welcome to BER-SERKR</h1>
        <p></p>
    </div>
{% endif %}
{% endblock %}