{% extends 'hamask/base.html' %}

{% block content %}
<div class="container">
  
<form method="post">
<div class="row page-header">
<div class="col-sm-12">    
    <div class="d-flex justify-content-between">
    <div class="p2">
        <h2>Workout</h2>
    </div>
    <div class="p-2">
        <a href="{% url 'hamask:logs' %}" class="btn btn-secondary"><i class="fa fa-arrow-left"></i>&nbsp;Back</a>
        {% if id %}
            <button type="submit" name="delete" value="delete" class="btn btn-danger"><i class="fa fa-trash"></i>&nbsp;Delete</button>
        {% endif %}
        <button type="submit" name="save" value="save" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;Save</button>
    </div>
    </div>
</div>
</div>

    {% csrf_token %}
    
    <!-- Log -->
    {{ form.non_field_errors }}
    <div class="row">
        {% include 'hamask/form.html' with field=form.workout_date div_class='col-sm-12 col-md-4 col-lg-3' %}
    </div>    
    <br/>
    <!-- Exercise log -->
    <div class="row">
    <div class="col-sm-12 overflow">
    {{ exercise_formset.management_form }}
    <table class="min-width-sm">
        <thead>
            <tr>
                <th class="w-3">Exercise</th>
                <th class="w-1">Sets</th>
                <th class="w-1">Reps</th>
                <th class="w-1">Weight</th>
                <th class="w-1">RPE</th>
                <th class="w-1 center">AMRAP</th>
                <th class="w-1 col-tab-icon">&nbsp;</th>
            </tr>
        </thead>
                
        <tbody>
        {% for formset in exercise_formset %}
            <tr id="tr_{{ formset.id.value }}" class="formset_exercise">
                <td>{% include 'hamask/formset.html' with field=formset.exercise div_class='tabular' %}</td>
                <td>{% include 'hamask/formset.html' with field=formset.sets div_class='tabular' %}</td>
                <td>{% include 'hamask/formset.html' with field=formset.reps div_class='tabular' %}</td>
                <td>{% include 'hamask/formset.html' with field=formset.weight div_class='tabular weight' %}</td>
                <td>{% include 'hamask/formset.html' with field=formset.rpe div_class='tabular rpe' %}</td>
                <td class="center">{% include 'hamask/formset.html' with field=formset.is_amrap div_class='tabular' %}</td>
                <td>
                    {% if formset.id.value != None %}
                        {% for hidden in formset.hidden_fields %}{{ hidden }}{% endfor %}
                        <a href="javascript:void(0);" onclick="exercise_log_order({{ formset.id.value }}, 'DOWN');"><i class="fa fa-chevron-down"></i></a>&nbsp;&nbsp;
                        <a href="javascript:void(0);" onclick="exercise_log_order({{ formset.id.value }}, 'UP');"><i class="fa fa-chevron-up"></i></a>&nbsp;&nbsp;
                        <a href="javascript:void(0);" onclick="exercise_log_delete({{ formset.id.value }});"><i class="fa fa-times"></i></a>
                    {% endif %}
                </td>
                <td class="can_delete" style="display:none;">{{ formset.DELETE }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div></div>
    
    <div class="row">
    <div class="col-sm-12">
    <a id="btn_add_exercise" class="btn btn-primary" href="javascript:void(0);" onclick="formset_add_more('tr.formset_exercise:last', 'exercise_log');">
        <i class="fa fa-plus"></i>&nbsp;Add Exercise    
    </a>
    </div></div>
</form>
</div>

<!-- Scripts -->
<script>
    $( function() {
        $( "#id_log-workout_date" ).datepicker({
          dateFormat: "yy-mm-dd"
        });
    });
</script>
{% endblock %}