{% extends 'hamask/base.html' %}

{% block content %}
<form id="form" method="post">
{% csrf_token %}

<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Last Workouts</a></li>        
        <li><a href="{% url 'hamask:logs_by_exercise' %}">Exercise Log</a></li>
    </ul>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">

<div class="row page-header">
    <div class="col-xs-6">
        <h1>Training Logs</h1>
    </div>
    <div class="col-xs-6">
        <button type="submit" form="form" name="create_log" class="btn btn-success right"><i class="fa fa-plus"></i>&nbsp;Create</button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        {% if logs %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-sm-1 center">Date</th>
                        <th class="col-sm-6">Workout</th>
                        <th class="icon center">Done</th>
                    </tr>
                </thead>
                
                <tbody>
                {% for log in logs %}
                    <tr>
                      <td class="center"><a href="{% url 'hamask:log_update' log.id%}">{{ log.workout_date }}</a></td>
                      <td>
                            {% if log.workout %}
                                {{ log.workout.workout_group.program }}&nbsp;-&nbsp;{{ log.workout.workout_group }}&nbsp;-&nbsp;{{ log.workout }}
                                {% if log.workout.day_of_week %}&nbsp;({{ log.workout.get_day_of_week_display }}){% endif %}
                            {% else %}
                                {{ log.get_exercise_log_formt }}
                            {% endif %}
                      </td>
                      <td class="center">{% if log.status == 'COMPL' %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Start a program or enter a log</a></p>
        {% endif %}
    </div>
</div>
</div>
</form>
{% endblock %}