{% extends 'hamask/base.html' %}

{% block content %}

<nav class="col-md-3 col-lg-2 sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item"><a class="nav-link" href="{% url 'hamask:logs' %}">Last Workouts</a></li>        
        <li class="nav-item"><a class="nav-link" href="{% url 'hamask:logs_by_exercise' %}">Work by Exercise</a></li>        
    </ul>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item"><a class="nav-link active" href="#">Next Workouts</a></li>
    </ul>
</nav>

<div class="col-md-9 ml-md-auto col-lg-10 ml-lg-auto">

<div class="row page-header">
    <div class="col-sm-12">
    <div class="d-flex justify-content-between">
        <div class="p2">
            <h2>Next Workouts</h2>
        </div>
    </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 overflow">
        {% if programs %}
            {% for program in programs %}
                <div class="card min-width-xs">
                    <div class="card-header">{{ program.name }}</div>

                    {% if workouts|get_item:program.id %}
                    <table class="table">
                    <thead>
                        <tr>
                            <th class="w-4 invisible"></th>
                            <th class="w-8 invisible"></th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for workout in workouts|get_item:program.id %}
                            <tr>
                            <td>{{ workout.full_name }}</td>
                            <td>
                                {% if exercises|get_item:workout.id %}
                                    <table class="table table-sm table-exercise">
                                    <thead>
                                        <tr>
                                            <th class="w-3 invisible"></th>
                                            <th class="w-1 invisible"></th>
                                            <th class="w-1 invisible"></th>
                                            <th class="w-1 invisible"></th>
                                            <th class="w-1 invisible"></th>
                                            <th class="w-1 invisible"></th>
                                        </tr>
                                    </thead>
                    
                                    <tbody>
                                        {% for exercise in exercises|get_item:workout.id %}
                                            <tr>
                                            <td>{{ exercise.exercise.name }}</td>
                                            <td>{{ exercise.sets }}</td>
                                            <td>{{ exercise.reps }}</td>
                                            <td>{{ exercise.loading }}</td>
                                            <td>{{ exercise.loading_weight_formt }}</td>
                                            <td {% if exercise.notes %}class="notes" data-notes="{{ exercise.notes }}"{% endif %}>
                                                {% if exercise.notes %}<i class="fa fa-comment"></i>{% endif %}
                                            </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    </table>
                                {% endif %}
                            </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p>Start a program</p>
        {% endif %}
        
        {% if logs %}
            <table class="table">
                <thead>
                    <tr>
                        <th class="center">Date</th>
                        <th class="">Sets</th>
                        <th class="">Reps</th>
                        <th class="">Weight</th>                        
                        <th class="">RPE</th>                        
                        <th class="">Volume</th>
                    </tr>
                </thead>
                
                <tbody>
                {% for log in logs %}
                    <tr>
                      <td class="center"><a href="{% url 'hamask:log_update' log.workout_log.id%}">{{ log.workout_log.workout_date }}</a></td>
                      <td>{{ log.sets }}</td>
                      <td>{{ log.reps }}</td>
                      <td>{{ log.weight_formt }}</td>
                      <td>{% if log.rpe %}{{ log.rpe }}{% endif %}</td>
                      <td>{{ log.volume }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
</div>

<!-- Modal -->
{% include 'hamask/notes_modal.html' with readonly=True %}

<!-- Scripts -->
<script>
    $('td.notes').click(function() { 
        $('#modal-notes').text(this.getAttribute("data-notes"));
        
        $('#exampleModal').modal()
    });
</script>
{% endblock %}