{% extends 'hamask/base.html' %}

{% block content %}
<div class="container">

<div class="row page-header">
<div class="col-sm-12">    
    <div class="d-flex justify-content-between">
    <div class="p2">
        <h2>Programs</h2>
    </div>
    <div class="p-2">
        <a href="{% url 'hamask:program_create' %}" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;Create</a>
    </div>
    </div>
</div>
</div>

<div class="row">
    <div class="col-sm-12">
        {% if programs %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start</th>
                        <th>End</th>
                    </tr>
                </thead>
                
                <tbody>
                {% for program in programs %}
                    <tr>
                      <td>
                        <a href="{% url 'hamask:program_update' program.id %}">{{ program.name }}</a>&nbsp;
                        {% if program.end_date %}
                          <span class="badge badge-primary">Completed</span>
                        {% elif program.start_date %}
                          <span class="badge badge-warning">In Progress</span>
                        {% elif program.is_ready %}
                          <span class="badge badge-success">Ready to Start</span>
                        {% else %}
                          <span class="badge badge-secondary">Draft</span>
                        {% endif %}
                      </td>
                      <td>{% if program.start_date %}{{ program.start_date }}{% endif %}</td>
                      <td>{% if program.end_date %}{{ program.end_date }}{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p><a href="{% url 'hamask:program_create' %}">Create a new program</a></p>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}