{% extends 'hamask/base.html' %}

{% block content %}
<div class="container">
    
<!-- Program -->
<form id="form" method="post">
<div class="row page-header">
<div class="col-sm-12">    
    <div class="d-flex justify-content-between">
    <div class="p2">
        <h2>Program</h2>
    </div>
    <div class="p-2">
        <a href="{% url 'hamask:programs' %}" class="btn btn-secondary"><i class="fa fa-arrow-left"></i>&nbsp;Back</a>
        {% if program %}
            <button type="submit" name="copy" value="copy" class="btn btn-warning"><i class="fa fa-copy"></i>&nbsp;Copy</button>
            <button type="submit" name="delete" value="delete" class="btn btn-danger"><i class="fa fa-trash"></i>&nbsp;Delete</button>
        {% endif %}
        <button type="submit" name="save" value="save" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;Save</button>
    </div>
    </div>
</div>
</div>
    {% csrf_token %}
    
    {{ form.non_field_errors }}
    <div class="row">
        {% include 'hamask/form.html' with field=form.name div_class='col-sm-12 col-md-4 col-lg-3' %}
        
        <div class="col-sm-12 col-md-4 col-lg-3">
        {% if not program.start_date %}
            <button type="submit" name="start" value="start" class="btn btn-warning btn-form" {% if not program.is_ready %} disabled {% endif %}>
                <i class="fa fa-play"></i>&nbsp;Start Program
            </button>
        {% elif not program.end_date %}
            <button type="submit" name="end" value="end" class="btn btn-warning btn-form">
                <i class="fa fa-stop"></i>&nbsp;End Program
            </button>
        {% elif program.end_date %}
            <button type="submit" name="restart" value="restart" class="btn btn-warning btn-form">
                <i class="fa fa-repeat"></i>&nbsp;Restart Program
            </button>            
        {% endif %}
        </div>
    </div>    
    <br/>
    <div class="row">
        {% include 'hamask/form.html' with field=form.rounding div_class='col-sm-12 col-md-4 col-lg-3' %}
        {% include 'hamask/form.html' with field=form.auto_update_stats div_class='col-sm-12 col-md-3 col-lg-2' %}
        {% include 'hamask/form.html' with field=form.repeatable div_class='col-sm-12 col-md-3 col-lg-2' %}
        {% include 'hamask/form.html' with field=form.is_public div_class='col-sm-12 col-md-3 col-lg-2' %}
    </div>
    
    <br/>
</form>

<!-- Groups -->
<br/>
<div class="row">
<div class="col-sm-12">
    {% if groups %}
        {% for group in groups %}
            <div id="div_{{ group.id }}" class="row overflow min-height-dropdown">
                <div class="col-sm-12">
                <div class="d-flex justify-content-between min-width-sm">
                    <div class="p2">
                        <h3 id="h_group_{{ group.id }}" class="h_group pointer">
                            <span id="span_group_{{ group.id }}">{{ group.name }}</span>&nbsp;
                            <i class="fa fa-pencil"></i>
                        </h3>
                        <input type="text" value="{{ group.name }}" maxlength="60" id="group_name_{{ group.id }}" class="group_name">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="javascript:void(0);" onclick="group_order({{ group.id }}, 'DOWN');"><i id="" class="fa fa-arrow-down"></i></a>&nbsp;&nbsp;
                        <a href="javascript:void(0);" onclick="group_order({{ group.id }}, 'UP');"><i id="" class="fa fa-arrow-up"></i></a>
                    </div>
                
                    <div class="p2">                        
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu">
                                <button type="submit" form="form" name="copy_group" value="{{ group.id }}" class="dropdown-item li_button"><i class="fa fa-copy"></i>&nbsp;Copy</button>
                                <a class="dropdown-item" href="javascript:void(0);" onclick="group_delete({{ group.id }});"><i class="fa fa-trash"></i>&nbsp;Delete</a>
                            </div>
                        </div>
                        
                        <button type="submit" form="form" name="add_workout" value="{{ group.id }}" class="btn btn-sm btn-success">
                        <i class="fa fa-plus"></i>&nbsp;&nbsp;Add Workout
                        </button>
                    </div>
                </div>
                </div>
                
                {% if workouts|get_item:group.id %}
                    <table class="table min-width-sm">
                    <thead>
                        <tr>
                            <th class="w-3 invisible"></th>
                            <th class="w-9 invisible"></th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for workout in workouts|get_item:group.id %}
                            <tr>
                            <td><a href="{% url 'hamask:workout_update' workout.id %}">{{ workout.full_name }}</a></td>
                            <td>
                                {% if exercises|get_item:workout.id %}
                                    <table class="table table-sm table-exercise">
                                    <thead>
                                        <tr>
                                            <th class="w-3 invisible"></th>
                                            <th class="w-1 invisible"></th>
                                            <th class="w-1 invisible"></th>
                                            <th class="w-1 invisible"></th>
                                            <th class="w-1 invisible"></th>
                                            <th class="w-6 invisible"></th>
                                        </tr>
                                    </thead>
                    
                                    <tbody>
                                        {% for exercise in exercises|get_item:workout.id %}
                                            <tr>
                                            <td>{{ exercise.exercise.name }}</td>
                                            <td>{{ exercise.sets }}</td>
                                            <td>{{ exercise.reps }}</td>
                                            <td>{{ exercise.loading }}</td>
                                            <td class="notes" data-notes="{{ exercise.notes }}">{% if exercise.notes %}<i class="fa fa-comment"></i>{% endif %}</td>
                                            <td>&nbsp;</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    </table>
                                {% endif %}
                            </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
    
    <button type="submit" form="form" name="add_group" value="add_group" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;Add Block</button>
</div>
</div>
</div>

<!-- Modal -->
{% include 'hamask/notes_modal.html' with readonly=True %}

<!-- Scripts -->
<script>
    $( function() {
        $( "#id_start_date" ).datepicker({
          dateFormat: "yy-mm-dd"
        });
    });
    
    $('h3.h_group').click(function() { 
        $(this).hide();
        h_id = $(this).attr('id');

        group_id = h_id.replace(/^h_group_/, '');   
        input = $('#group_name_'+group_id);

        $(input).css('display', 'inline-block');
    });
    
    $('input.group_name').on('focusout', function() { 
        group_name = $(this).val();
        group_id = $(this).attr('id').replace(/^group_name_/, '');
        group_change_name(group_id, group_name);
    });
    
    $('td.notes').click(function() { 
        $('#modal-notes').text(this.getAttribute("data-notes"));
        
        $('#exampleModal').modal()
    });
</script>
{% endblock %}