{% extends 'hamask/base.html' %}

{% block content %}
<div class="container">
<form method="post">

<div class="row page-header">
    <div class="col-xs-6">
        <h1>Log your PRs</h1>
    </div>
    <div class="col-xs-6 right">
        <button type="submit" name="save" value="save" class="btn btn-primary right"><i class="fa fa-save"></i>&nbsp;Save</button>
        <button type="submit" name="saveadd" value="saveadd" class="btn btn-primary right"><i class="fa fa-plus"></i>&nbsp;Save and Add</button>        
        {% if id %}
            <button type="submit" name="delete" value="delete" class="btn btn-danger right"><i class="fa fa-trash"></i>&nbsp;Delete</button>
        {% endif %}
        <a href="{% url 'hamask:stats' %}" class="btn btn-default right"><i class="fa fa-arrow-left"></i>&nbsp;Back</a>
    </div>
</div>

    {% csrf_token %}
    
    {{ form.non_field_errors }}
    <div class="row">
        {% include 'hamask/form.html' with field=form.exercise div_class='col-sm-12 col-md-4 col-lg-3' %}
        {% include 'hamask/form.html' with field=form.entry_date div_class='col-sm-12 col-md-4 col-lg-3' %}
    </div>    
    <br/>
    <div class="row">
        {% include 'hamask/form.html' with field=form.weight div_class='col-sm-12 col-md-4 col-lg-3' %}
        {% include 'hamask/form.html' with field=form.reps div_class='col-sm-12 col-md-4 col-lg-3' %}
    </div>
</form>
</div>

<!-- Scripts -->
<script>
    $( function() {
        $( "#id_entry_date" ).datepicker({
          dateFormat: "yy-mm-dd"
        });
    });
</script>
{% endblock %}