{% extends 'hamask/base.html' %}

{% block content %}
<h1 class="page-header">Log your recent PRs</h1>
    
<form action="stats/stat/" method="post">
    {% csrf_token %}
    
    {{ form.non_field_errors }}
    <div class="row">
        <!-- Exercise -->
        <div class="col-sm-12 col-md-4 col-lg-3">
            {{ form.exercise.errors }}
            {{ form.exercise.label_tag }}
            <div class="input-group">
                {{ form.exercise }}
            </div>
        </div> 
        
        <!-- Date -->
        <div class="col-sm-12 col-md-4 col-lg-3">
            {{ form.entry_date.errors }}
            {{ form.entry_date.label_tag }}
            <div class="input-group">
                {{ form.entry_date }}
            </div>
        </div>   
    </div>
    
    <br/>
    <div class="row">
        <!-- Weight -->
        <div class="col-sm-12 col-md-4 col-lg-3">
            {{ form.weight.errors }}
            {{ form.weight.label_tag }}
            <div class="input-group">
                {{ form.weight }}
            </div>
        </div>
        
        <!-- Reps -->
        <div class="col-sm-12 col-md-4 col-lg-3">
            {{ form.reps.errors }}
            {{ form.reps.label_tag }}
            <div class="input-group">
                {{ form.reps }}
            </div>
        </div>
    </div>
    
    <br/>
    <div class="row">
        <!-- Buttons -->
        <div class="col-sm-12">
            <button type="submit" name="_submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>

<!-- Scripts -->
<script>
    $( function() {
        $( "#id_entry_date" ).datepicker({
          dateFormat: "yy-mm-dd"
        });
    });
</script>
{% endblock %}