{% extends 'hamask/base.html' %}

{% block content %}
<h1 class="page-header">Log your recent PRs</h1>
    
<form method="post">
    {% csrf_token %}
    
    {{ form.non_field_errors }}
    <div class="row">
        {% include 'hamask/form.html' with field=form.exercise div_class='col-sm-12 col-md-4 col-lg-3' %}
        {% include 'hamask/form.html' with field=form.entry_date div_class='col-sm-12 col-md-4 col-lg-3' %}
    </div>    
    <br/>
    <div class="row">
        {% include 'hamask/form.html' with field=form.weight div_class='col-sm-12 col-md-4 col-lg-3' %}
        {% include 'hamask/form.html' with field=form.reps div_class='col-sm-12 col-md-4 col-lg-3' %}
    </div>
    
    <br/>
    <!-- Buttons -->
    <div class="row">
        <div class="col-sm-12">
            <a href="{% url 'hamask:stats' %}" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp;BACK</a>
            {% if id %}
                <button type="submit" name="delete" value="delete" class="btn btn-danger"><i class="fa fa-trash"></i>&nbsp;DELETE</button>
            {% endif %}
            <button type="submit" name="saveadd" value="saveadd" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;SAVE AND ADD</button>
            <button type="submit" name="save" value="save" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;SAVE</button>
        </div>
    </div>
</form>

<!-- Scripts -->
<script>
    $( function() {
        $( "#id_entry_date" ).datepicker({
          dateFormat: "yy-mm-dd"
        });
    });
</script>
{% endblock %}