{% extends 'hamask/base.html' %}

{% block content %}
<h1 class="page-header">Workout</h1>
    
<form method="post">
    {% csrf_token %}
    
    <!-- Workout -->
    {{ form.non_field_errors }}
    <div class="row">
        {% include 'hamask/form.html' with field=form.name div_class='col-sm-12 col-md-4 col-lg-3' %}
    </div>
    
    <br/>
    <!-- Buttons -->
    <div class="row">
        <div class="col-sm-12">
            {% if id %}
                <button type="submit" name="delete" value="delete" class="btn btn-danger"><i class="fa fa-trash"></i>&nbsp;DELETE</button>
            {% endif %}
            <button type="submit" name="save" value="save" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;SAVE</button>
        </div>
    </div>
    
    <br/>
    <!-- Exercises -->
    <h3>Exercises</h3>
    {{ exercise_formset.management_form }}
    <table>
        <thead>
            <tr>
                <th class="col-sm-3">Exercise</th>
                <th class="col-sm-1">Sets</th>
                <th class="col-sm-1">Reps</th>
                <th class="col-sm-2">Loading</th>
                <th class="col-sm-1">% of Max</th>
                <th class="col-sm-1">Weight</th>
                <th class="col-sm-1">RPE</th>
                <th class="col-sm-1">Is AMRAP</th>
                <th class="col-sm-1">&nbsp;</th>
            </tr>
        </thead>
                
        <tbody>
        {% for formset in exercise_formset %}
            <tr>
                <td>{% include 'hamask/formset.html' with field=formset.exercise div_class='tabular' %}</td>
                <td>{% include 'hamask/formset.html' with field=formset.sets div_class='tabular' %}</td>
                <td>{% include 'hamask/formset.html' with field=formset.reps div_class='tabular' %}</td>
                <td>{% include 'hamask/formset.html' with field=formset.rep_scheme div_class='tabular' %}</td>
                <td>{% include 'hamask/formset.html' with field=formset.percentage div_class='tabular' %}</td>
                <td>{% include 'hamask/formset.html' with field=formset.weight div_class='tabular' %}</td>
                <td>{% include 'hamask/formset.html' with field=formset.rpe div_class='tabular' %}</td>
                <td class="center">{% include 'hamask/formset.html' with field=formset.is_amrap div_class='tabular' %}</td>
                <td>
                    {% for hidden in formset.hidden_fields %}{{ hidden }}{% endfor %}
                    <i id="" class="fa fa-chevron-down"></i>&nbsp;<i id="" class="fa fa-chevron-up"></i>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>

{% endblock %}